.list {
  display: flex;
  flex-direction: column;
}


.postDetails > h4 {
  padding-bottom: 1rem;
}
.postDetails > h3 {
  padding-bottom: 1rem;
  color: #3498db;
}
.postDetails > p {
  padding-bottom: 1rem;
}

@media (min-width: 800px) {
  .list {
    border-left: 1px solid #bdc3c7;
    padding-left: 3.4rem;
  }
  .postDetails {
    border-left: 1px solid #bdc3c7;
    padding-left: 3.4rem;
  }
}