.grid {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  height: 100%;
  grid-gap: 3rem;
  padding: 1rem;
}

@media (min-width: 800px) {
  .grid {
    grid-template-columns: 220px 1fr;
    grid-template-rows: 36px 1fr;
  }
}