*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #34495e;
}

input {
  border: 1px solid #bdc3c7;
  padding: .5rem;
  color: inherit;
}

input:focus {
  border-color: #95a5a6;
  outline: none;
}

a {
  padding: .6rem 0;
  transition: all .4s;
}

a:any-link {
  text-decoration: none;
  color: inherit;
  outline: none;
} 

a:hover {
  color: #3498db;
  transition: all .5s;
}


:global(a.active) {
  color: #2980b9;
}