.page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.page > div:first-child {
  flex: 2;
  min-width: 14rem;
}

.page > div:last-child {
  flex: 3;
  min-width: 16rem;
}

.container {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3rem;
  padding-right: 2rem;
}

.list a {
  width: 100%;
}

.titleSpace {
  padding-bottom: .6rem;
}